@page "/employeelist"

@using DevExpress.Blazor

@rendermode InteractiveServer
@inject EmployeeService EmployeeService
@inject NavigationManager NavManager

<h3>Employee List</h3>

<DxGrid Data="employees">
    <Columns>
        <DxGridDataColumn FieldName="@nameof(EmployeeModel.Id)"></DxGridDataColumn>
        <DxGridDataColumn FieldName="@nameof(EmployeeModel.FirstName)"></DxGridDataColumn>
        <DxGridDataColumn FieldName="@nameof(EmployeeModel.LastName)"></DxGridDataColumn>
        <DxGridDataColumn Width="100px"> 
            <CellDisplayTemplate>
                <a class="btn btn-primary" @onclick="@(() => viewEmployee((context.DataItem as EmployeeModel).Id))"> view </a>
            </CellDisplayTemplate>
        </DxGridDataColumn>
    </Columns>
</DxGrid>

@code {


    List<EmployeeModel> employees = new List<EmployeeModel>();

    protected override void OnInitialized()
    {
        if (EmployeeService != null)
        {
            employees = EmployeeService.GetEmployees();
        }
    }

    void viewEmployee(int Id)
    {
        NavManager.NavigateTo($"/employeedetails/{Id}");
    }
}