@page "/departmentlist"
@using DevExpress.Blazor

@rendermode InteractiveServer
@inject DepartmentService DepartmentService
@inject NavigationManager NavManager

<h3>DepartmentList</h3>
<DxGrid Data="departments">
    <Columns>
        <DxGridDataColumn FieldName="@nameof(DepartmentModel.Id)"></DxGridDataColumn>
        <DxGridDataColumn FieldName="@nameof(DepartmentModel.DepartmentName)"></DxGridDataColumn>
        <DxGridDataColumn Width="100px">
            <CellDisplayTemplate>
                <a class="btn btn-primary" @onclick="@(() => viewDepartment((context.DataItem as DepartmentModel).Id))"> view </a>
            </CellDisplayTemplate>
        </DxGridDataColumn>
    </Columns>
</DxGrid>


@code {
    List<DepartmentModel> departments = new List<DepartmentModel>();

    protected override void OnInitialized()
    {
        departments = DepartmentService.GetDepartments();
        
    }

    void viewDepartment(int Id)
    {
        NavManager.NavigateTo($"/departmentdetails/{Id}");
    }
}
